body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding-top: 10px;
}

.pageheader h2 {
	padding: 0;
	margin: 0;
}

.pageheader {
	padding: 2px 0 11px 66px;
	background: url("../images/application.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-origin: padding-box;
	color: #8B4513;
	margin-left: 10px;
	width: 40%;
	font-size: 20px;
}

#pageheader {
	padding: 2px 0 8px 66px;
	background: url("../images/application.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-origin: padding-box;

	color: #8B4513;

	width: 100px;
	position: absolute;
	top: 10px;
	bottom: 0;
	left: 0;
	right: 60px;

	margin: auto;
}

#header {
	padding: 8px 0 8px 40px;
	background-color: #DC143C;
	color: #000000;
	border-top-left-radius: 15px; 
	border-top-right-radius: 15px; 
}

#connectInfo {
	width: 500px;
	height: 550px;

	position: absolute;
	top: 10px;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;

	border-radius: 15px; 
	-moz-border-radius: 15px; 
	background-color: #00A2E8;
}

#mainwindow {
	height: auto;
	overflow:visible;

	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: 10px;

	border-top-left-radius: 15px; 
	border-bottom-left-radius: 15px; 
	border-bottom-right-radius: 15px; 
	-moz-border-radius: 15px; 
	background-color: #B8860B;
}

#docpopupwindow {
	height: auto;
	width: 98%;
	overflow:visible;

	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: 10px;
	position: fixed;

	border-radius: 15px; 
	-moz-border-radius: 15px; 
	background-color: red;
}


.note {
	margin-bottom: 10px;
}

.searchsummary {
	margin-bottom: 10px;
}

.folder-icon {
	height: 16px;
	width: 16px;
	padding-right: 5px;
	vertical-align: middle;
	border: 0;
}

.folder-icon-big {
	height: 24px;
	width: 24px;
	padding-right: 10px;
	vertical-align: middle;
	border: 0;
}

.action-icon {
	height: 32px;
	width: 32px;
	padding-right: 10px;
	vertical-align: middle;
	border: 0;
}

.searchbox {
	background: #FFFFFF url('../images/search-icon.png') no-repeat scroll 4px 4px;
    padding:4px 4px 4px 22px;
}

#searchbox {
	background: #FFFFFF url('../images/search-icon.png') no-repeat scroll 4px 4px;
    padding:4px 4px 4px 22px;
}

.repositorylink {
	background: transparent url('../images/repository-icon.png') no-repeat scroll 4px 4px;
    padding:4px 4px 4px 22px;
}

.dashboardlink {
	background: transparent url('../images/dashboard-icon.png') no-repeat scroll 4px 4px;
    padding:4px 4px 4px 22px;
}

.disconnectlink {
	background: transparent url('../images/disconnect-icon.png') no-repeat scroll 4px 4px;
    padding:4px 4px 4px 22px;
}

.searchoptions {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #FFA500;
	clear: both;
	padding: 10px;
	margin-top: 10px;
	line-height: 20px;
	border: 0px;
}

.searchoption {
	margin-left: 30px;
}

.btn {
	background: #cccccc;
	display: inline-block;
	font-size: 12px;
	font-weight: bolder;
	padding: 8px 14px;
	margin: 0 8px 0 0;
	cursor: pointer;
	text-align: center;
	color: #000000;
}

#resinfo {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	clear: both;
	padding: 10px;
	margin: 20px;
	line-height: 20px;
	background-color: #FFE4B5;
	color: #B22222;
}

#menupanel {
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #B8860B;
	padding: 20px 10px 0 10px;
	margin: -57px 10px 0 10px;
	width: 35%;
	height: 47px;
	float: right;
	color: #FFFFFF;
}

#menupanel a {
	color: #FFFFFF;
	text-decoration: none;
}

#menupanel a:hover {
	color: #00FF7F;
	text-decoration: none;
}

#toppanel {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #FAA460;
	padding: 10px;
	margin: 10px 10px 0 10px;
	width: 97%;
	float: left;
}

#leftpanel {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #8B4513;
	padding: 10px;
	margin: 10px 0 10px 10px;
	width: 30%;
	float: left;
}

#rightpanel {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #FFE4B5;
	padding: 10px;
	margin: 10px 10px;
	width: 64%;
	float: right;
	color: #B22222;
}

#previewpanel {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #F5F5DC;
	padding: 20px;
	margin: 10px 0 10px 10px;
	width: 57%;
	float: left;
}

#propertiespanel {
	/*border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #FFE4B5;
	color: #B22222;*/
	width: 39%;
	float: right;
}

#cmispropertiespanel {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #FFE4B5;
	padding: 10px;
	margin: 10px 10px;
	width: 90%;
	float: right;
	color: #B22222;
}

#alfpropertiespanel {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #FFE4B5;
	padding: 10px;
	margin: 10px 10px;
	width: 90%;
	float: right;
	color: #B22222;
}

#aspectspanel {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #FFE4B5;
	padding: 10px;
	margin: 10px 10px;
	width: 90%;
	float: right;
	color: #B22222;
}

#actionspanel {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #FFE4B5;
	padding: 10px;
	margin: 10px 10px;
	width: 90%;
	float: right;
	color: #B22222;
}

#versionspanel {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #FFE4B5;
	padding: 10px;
	margin: 10px 10px;
	width: 90%;
	float: right;
	color: #B22222;
}

#folderlist {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#folderlist li {
	padding-bottom: 5px;
}

#folderlist li a {
	color: #FFFFFF;
	text-decoration:none;
}

#breadcrumb a {
	color: #FFFFFF;
	text-decoration:none;
}


#mysites {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #8B4513;
	padding: 10px;
	margin: 10px 0 0 20px;
	width: 28%;
	float: left;
}

#mytasks {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #FFE4B5;
	padding: 10px;
	margin: 10px 20px 0 0;
	width: 65%;
	float: right;
	color: #B22222;
}

#mydocuments {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #D8BFD8;
	padding: 10px;
	margin: 10px 0 0 20px;
	width: 28%;
	float: left;
	clear: both;
	margin-bottom: 20px;
	color: #000000;
}

#pagefooter {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	background-color: #C0C0C0;
	padding: 10px;
	margin-top: 10px;
	width: 98.6%;
	clear:both;
	bottom:30px;
	position:inherit;
	text-align: center;
	color: #B8860B;
}

#sitelist {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#sitelist li {
	padding-bottom: 5px;
}

#sitelist li a {
	color: #FFFFFF;
	text-decoration:none;
}

#sitelist li a:hover {
	color: #00FF7F;
	text-decoration: none;
}

#tasklist {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#tasklist li {
	padding-bottom: 5px;
}

#tasklist li a {
	color: #FFFFFF;
	text-decoration:none;
}

#tasklist li a:hover {
	color: #00FF7F;
	text-decoration: none;
}

.note a {
	color: #B8860B;
	text-decoration: none;
}

.note a:hover {
	color: #00FF7F;
	text-decoration: none;
}

#docslist a {
	color: #800000;
	text-decoration: none;
}

#docslist a:hover {
	color: #00FF7F;
	text-decoration: none;
}

#folderlist a {
	color: #FFFFFF;
	text-decoration: none;
}

#folderlist a:hover {
	color: #00FF7F;
	text-decoration: none;
}

#breadcrumb a {
	color: #FFFFFF;
	text-decoration: none;
}

#breadcrumb a:hover {
	color: #00FF7F;
	text-decoration: none;
}
