
button {
	background-color: #556B2F;
	color: #FFFFFF;
}

#mainwindow {
	background-color: #CCFCEB; /*#66CDAA;*/
}

#menupanel {
	background-color: #CCFCEB; /* #66CDAA;*/
}

#toppanel {
	background-color: #808000;
}

#leftpanel {
	background-color: #008080;
}

#rightpanel {
	background-color: #7FFFD4;
}

#searchleftpanel {
	background-color: #A0E8A7; 
}

#propheader {
	background-color: #3CB371;
	color: #FFFFFF;
}

#cmispropertiespanel {
	background-color: #7FFFD4;
}

#alfpropertiespanel {
	background-color: #7FFFD4;
}

#aspectspanel {
	background-color: #7FFFD4;
}

#versionspanel {
	background-color: #7FFFD4;
}

#previewpanel {
	background-color: #2E8B57;
}

#actionspanel {
	background-color: #2E8B57;
	color: #FFFFFF;
}

#mytasks {
	background-color: #7FFFD4;
	color: #006400;
}

#taskheader {
	background-color: #008B8B;
	color: #FFFFFF;
}

#mysites {
	background-color: #2E8B57;
}

#siteheader {
	background-color: #90EE90;
	color: #000000;
}

#mydocuments {
	background-color: #008080;
}

#mydocheader {
	background-color: #00FF7F;
	color: #000000;
}

.searchoptions {
	background-color: #66CDAA;
	color: #000000;
}

#preferences {
	background-color: #008080;
	color: #FFFFFF;
	box-shadow: 5px 5px 15px #309367;
}

#newfolderdialog {
	background-color: #008080;
	color: #FFFFFF;
	box-shadow: 5px 5px 15px #309367;
}

#newdocdialog {
	background-color: #008080;
	color: #FFFFFF;
	box-shadow: 5px 5px 15px #309367;
}

#newtextdialog {
	background-color: #008080;
	color: #FFFFFF;
	box-shadow: 5px 5px 15px #309367;
}

#newhtmldialog {
	background-color: #008080;
	color: #FFFFFF;
	box-shadow: 5px 5px 15px #309367;
}

#folderinfodialog {
	background-color: #008080;
	color: #FFFFFF;
	box-shadow: 5px 5px 15px #309367;
}

.folderproperties {
	background-color: #66B766;
}

#fileDetails {
	background-color: #085417;
	color: #FFFFFF;
}

#prefheader {
	background-color: #90EE90;
	color: #000000;
}

#helpcmis {
	background-color: #008080;
	color: #FFFFFF;
	box-shadow: 10px 10px 15px #309367;
}

#helpheader {
	background-color: #90EE90;
	color: #000000;
}

#docslist tr:nth-child(even) td {
	background-color: #00CED1;
}

#pagefooter {
	background-color: #AFEEEE;
	color: #006400;
}

.note a {
	color: #006400;
}

.note a:hover {
	color: #32CD32;
}

#breadcrumb a:hover {
	color: #32CD32;
}

#folderlist a:hover {
	color: #32CD32;
}

#docslist a:hover {
	color: #32CD32;
}

#tasklist li a:hover {
	color: #32CD32;
}

#sitelist li a:hover {
	color: #32CD32;
}

#mydoclist li a:hover {
	color: #32CD32;
}

#menupanel a:hover {
	color: #32CD32;
}

#pagination {
	background-color: #2E8B57;
	color: #FFFFFF;
}

#foldertoolbar {
	color: #006400;
	background: linear-gradient(#2E8B57, #90EE90);
}

#foldertoolbar ul li a {
	color: #006400;
}



.jqte {
	margin: 0;
}

.jqte_editor {
	height: 330px;
}





.typespanel {
	background-color: #B4F7E2;
	color: #000000;
}

#typesheader {
	background-color: #60A08C;
	color: #000000;
}

#typedetailspanel {
	background-color: #C8F7E8;
	color: #000000;
}


.ui-tabs .ui-tabs-nav li {
	border-bottom: 2px solid #3E6054;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background-color: #3E6054;
	color: #FFFFFF;
	border-bottom: 0px solid black;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	color: #FFFFFF;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	color: #3E6054;
}
