
button {
	background-color: #166384;
	color: #FFFFFF;
}

#mainwindow {
	background-color: #ADD8E6; /* #00A2E8;*/
}

#menupanel {
	background-color: #ADD8E6;
}

#toppanel {
	background-color: #4682B4;
}

#leftpanel {
	background-color: #2D6793; /* #4169E1;*/
}

#rightpanel {
	background-color: #87CEFA;
}

#searchleftpanel {
	background-color: #617CDD; 
}

#propheader {
	background-color: #4682B4;
	color: #000000;
}

#cmispropertiespanel {
	background-color: #87CEFA;
}

#alfpropertiespanel {
	background-color: #87CEFA;
}

#aspectspanel {
	background-color: #87CEFA;
}

#versionspanel {
	background-color: #87CEFA;
}

#previewpanel {
	background-color: #6495ED;
}

#actionspanel {
	background-color: #6495ED;
	color: #FFFFFF;
}

#mytasks {
	background-color: #87CEFA;
	color:#191970;
}

#taskheader {
	background-color: #4898C9;
	color: #FFFFFF;
}

#mysites {
	background-color: #38A0D1;
}

#siteheader {
	background-color: #568CAD;
	color: #000000;
}

#mydocuments {
	background-color: #79AECE;
}

#mydocheader {
	background-color: #4682B4;
	color: #000000;
}

.searchoptions {
	background-color: #87CEFA;
}

#preferences {
	background-color: #4682B4;
	color: #000000;
	box-shadow: 10px 10px 15px #335C77;
}

#newfolderdialog {
	background-color: #4682B4;
	color: #FFFFFF;
	box-shadow: 10px 10px 15px #335C77;
}

#newdocdialog {
	background-color: #4682B4;
	color: #FFFFFF;
	box-shadow: 10px 10px 15px #335C77;
}

#newtextdialog {
	background-color: #4682B4;
	color: #FFFFFF;
	box-shadow: 10px 10px 15px #335C77;
}

#newhtmldialog {
	background-color: #4682B4;
	color: #FFFFFF;
	box-shadow: 10px 10px 15px #335C77;
}

#folderinfodialog {
	background-color: #6F9FC6;
	color: #FFFFFF;
	box-shadow: 10px 10px 15px #335C77;
}

.folderproperties {
	background-color: #235C84;
}

#fileDetails {
	background-color: #4B5E66;
	color: #FFFFFF;
}

#prefheader {
	background-color: #B0E0E6;
	color: #000000;
}

#helpcmis {
	background-color: #4682B4;
	color: #FFFFFF;
	box-shadow: 10px 10px 15px #335C77;
}

#helpheader {
	background-color: #191970;
	color: #FFFFFF;
}

#docslist tr:nth-child(even) td {
	background-color: #70AFD3;
}

#pagefooter {
	background-color: #B0C4DE; /*#B0E0E6;*/
	color: #191970;
}

.note a {
	color:#191970;
}

.note a:hover {
	color:#1E90FF;
}

#breadcrumb a:hover {
	color: #1E90FF;
}

#folderlist a:hover {
	color: #000000;
}

#docslist a:hover {
	color: #1E90FF;
}

#tasklist li a:hover {
	color: #1E90FF;
}

#sitelist li a:hover {
	color: #000000;
}

#mydoclist li a:hover {
	color: #4682B4;
}

#menupanel a:hover {
	color: #00008B;
}

#pagination {
	background-color: #5F9EA0;
	color: #FFFFFF;
}

#foldertoolbar {
	color: #0000CD;
	background: linear-gradient(#4169E1, #AFEEEE);
}

#foldertoolbar ul li a {
	color: #0000CD;
}


.jqte {
	margin: 0;
}

.jqte_editor {
	height: 330px;
}



.typespanel {
	background-color: #8DB5D6;
	color: #000000;
}

#typesheader {
	background-color: #619CCC;
	color: #000000;
}

#typedetailspanel {
	background-color: #99BCD8;
	color: #000000;
}



.ui-tabs .ui-tabs-nav li {
	border-bottom: 2px solid #041991;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background-color: #041991;
	color: #FFFFFF;
	border-bottom: 0px solid black;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	color: #FFFFFF;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	color: #041991;
}
